/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header {
  text-align: center;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.Book {
  text-align: center;
  border: 2px dotted;
  margin: 5px;
  margin-bottom: 10px;
}

.Book-title {
  font-size: calc(14px + 2vmin);
  margin: 0px;
}

.Book-author {
  font-size: calc(12px + 2vmin);
  margin: 0px;
}

.Book-publisher {
  font-size: calc(10px + 2vmin);
  margin: 0px;
}

.Book-genre {
  font-size: calc(8px + 2vmin);
  margin: 0px;
}

.Book-review {
  font-size: calc(6px + 2vmin);
  margin: 0px;
}